body {
  background: #000000;
  color: #ffffff;
}
.photo {
  border: solid 5px #fff;
  height: 190px;
  width: 190px;

  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-font-smooth: antialiased;
  font-smooth: antialiased;
}