<div itemprop="performer" itemscope="" itemtype="http://schema.org/Person">
    <header class="vcard" >
        <img class="photo" src="assets/images/foto.png" alt="Thomaz Takashi Oda Toyama"/>
        <h1 class="fn" itemprop="name" >Thomaz Takashi Oda Toyama</h1>
        <h2 class="role" itemprop="jobTitle">FrontEnd Developer</h2>
        <ul class="contact">
            <li class="icon-mail"><a href="#contact" itemprop="email">contato@thomazot.com.br</a></li>
            <li class="icon-facebook"><a href="#facebook">Facebook</a></li>
            <li class="icon-twitter"><a href="#facebook">Twitter</a></li>
            <li class="adr"><span class="locality">Marília-SP</span>, <span class="country-name">Brasil</span></li>
        </ul>
    </header>

    <section class="summary">
        <h1>Summary</h1>
        <p>Formado em Ciência da Computação. Desde 2005 atuando em soluções WEB.</p>
        <p>Agora focado como Desenvolvedor Front-End.</p>
    </section>

    <section class="experience" itemprop="workPerformed" itemscope="" itemtype="http://schema.org/CreativeWork">
        <h1>Work Experience</h1>
        <article>
            <h1 itemprop="name"><a target="_blank" href="http://www.mediabiz.com.br">MediaBiz</a></h1>
            <h2>Front-End Developer.</h2>
            <time datetime="2011-01-01" class="start">Janeiro 2011</time>
        </article>
        <article>
            <h1 itemprop="name"><a target="_blank" href="http://www.tray.com.br">Tray Sistemas</a></h1>
            <h2>Front-End Developer.</h2>
            <time datetime="2010-01-01" class="start">Janeiro 2010</time>
            <time datetime="2010-12-01" class="end">Dezembro 2010</time>
        </article>
        <article>
            <h1 itemprop="name"><a target="_blank" href="http://www.sunline.com.br">Sun Line Internet Provider</a></h1>
            <h2>Web Master Developer.</h2>
            <time datetime="2006-01-01" class="start">Janeiro 2006</time>
            <time datetime="2009-12-01" class="end">Dezembro 2009</time>
        </article>
    </section>

    <section class="education" >
        <h1>Education</h1>

        <h2 itemprop="colleague">Unimar - Universidade de Marília</h2>
        <h3 itemprop="colleague">Ciência da Computação</h3>
    </section>
</div>